<!-- 공통 네비게이션 바 -->
{% load static %}
 
<div class="navbar">
    <div><strong>학생 모드</strong></div>
    <div class="menu">
        <a href="{% url 'mainpage:index' %}">대시보드</a>
        <a href="{% url 'mainpage:documents' %}">공유 문서</a>
        <a href="{% url 'attendance:attendance' %}">출결</a>
        <a href="{% url 'chat:chat' %}">팀 대화</a>
        <a href="https://reserve.ssu.ac.kr/booking" target="_blank">장소 예약</a>
    </div>
    <div class="menu">
        {% if user.is_authenticated %}
            <a href="{% url 'common:logout' %}">🔐 마이페이지</a>
        {% else %}
            <a href="{% url 'common:login' %}">🔐 로그인</a>
        {% endif %}
    </div>
</div>

