{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}교수자 페이지{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'mainpage/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'instructor/css/instructor.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css" />

    <style>
    body {
        font-family: 'Pretendard Variable', 'Apple SD Gothic Neo', sans-serif;
    }
    </style>
  {% block extra_css %}{% endblock %}
</head>
<body>
  {% include 'instructor/nav_instructor.html' %}

  <main class="container">
    {% block content %}{% endblock %}
  </main>

  {% block extra_js %}{% endblock %}
</body>
</html>
